/* General Styles */
body {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #F9F9F9;
  color: #333;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
}


.about-section h1 {
  font-size: 2.5em;
  color: #4c954c;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: normal;
}



