.city-info {
  display: flex;
  background-color: #ffc9b9;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.city-image {
  flex: 1;
  max-width: 40%;
  border-radius: 10px;
  margin-right: 20px;
  object-fit: cover;
}

.city-description {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.city-info h1 {
  font-family: "Sedan SC", serif;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.city-info p {
  font-family: "Jost", sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
}

.itinerary-planner {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Ensures list items take full height */
  gap: 40px;
}

.itinerary-list {
  flex: 1;
  font-size: x-large;
  margin: 50px 0 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Equally space items vertically */
  text-align: start;
  border-left: 4px dotted black;
}

.itinerary-attraction {
  list-style-type: none;
  padding-left: 20px;
}

.itinerary-map {
  padding-left: 20px; /* Add some space between list and map */
  flex: 1;
}
