.destination {
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 24px;
}

.destination h2 {
  color: #4C956C;
}

.popular-destinations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.roulette-grid {
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 10px
}

.destination-card {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destination-card:hover {
  scale: 1.1;
  rotate: 2deg;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.destination-image {
  width: 100%;
  height: 100%;
  scale: 1.2;
  transition: all 0.5s linear;
  
}

.destination-card:hover .destination-image {
  scale: 1.02;
  rotate: -1deg;
}

.destination-name {
  text-align: start;
  font-size: x-large;
  transition: all 0.5s linear;
  padding-top: 13px;
}

.destination-card:hover ~.destination-name {
  scale: 1.02;
  rotate: 2deg;
  top: 100px
}

.destination-card h3 {
  margin: 8px 0;
}

.destination-card p {
  padding: 0 16px 16px;
}

.hide {
  position: relative;
}

.hide img {
  filter: blur(20px) grayscale(1); /* Adjust the blur radius as needed */
  transition: filter 0.3s ease-in-out; /* Optional: for smooth transition */
}

.hide .destination-name::before {
  content: "?????";
  visibility: visible;
  display: block;
}

.hide .destination-name {
  visibility: hidden;
}

.hide::before {
  content: "?";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px; /* Adjust font size as needed */
  color: rgba(255, 255, 255, 0.8); /* Adjust color and opacity as needed */
  z-index: 2;
  pointer-events: none; /* Ensure the question mark doesn't interfere with clicking */
}

.show {
  scale: 1.2;
}

.show img {
  filter: none; /* Remove blur and grayscale */
}

.show .destination-name {
  visibility: visible;
}

.show::before {
  content: "";
}

.disabled {
  filter: blur(10px) grayscale(1); /* Apply blur and grayscale to the entire element */
  pointer-events: none; /* Disable all click interactions */
  opacity: 0.5; /* Make the element semi-transparent */
}
