.destination-card {
  border: 1px solid #fefee3;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
  text-align: center;
}

.destination-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
