.hero-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.hero-content {
    padding: 20px;
    border-radius: 10px;
}

