.hero-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}



.hero-banner__text {
    z-index: 1;
}

.hero-banner__text h1 {
    font-size: 5em;
    margin: 0;
}

.hero-banner__text p {
    font-size: 2.5em;
    margin: 0.5em 0 0 0;
}