.navbar {
  background-color: #4c956c;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1001;
  transition: all 0.3s ease;
}

.logo img {
  width: 40px;
  height: 30px;
}

.navbar.scrolled {
  background: linear-gradient(to bottom, #4c956c80, transparent);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar.scrolled:hover {
  background-color: #4c956c;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: #fefee3;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 5rem;
  display: flex;
  gap: 5px;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 5rem;
}

.nav-item {
  margin-left: 1rem;
}

.nav-links {
  color: #fefee3;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links:hover {
  color: #d68c45;
}
