* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost';
  overscroll-behavior: none;
}

html {
  scroll-behavior: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Sedan SC';
}

a {
  color: inherit;
  text-decoration: none;
}

.leaflet-control-attribution {
  display: none;
}

.particles {
  position: fixed;
  width: 100%;
  z-index: -1;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1024px) {
  .popular-destinations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .city-description {
  padding: 40px 20px 40px 20px;
  margin: 0;
  gap: 0;
}

.city-info-container h1 {
  font-size: 2.5rem;
}

.city-description p {
  line-height: 1.5;
}
} 

.hamburger-menu {
    display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {

/* destination cards grid */
  .popular-destinations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

/* city description */
.city-description {
  flex-direction: column;
  padding: 40px;
  gap: 10px;
}

.city-image {
  width: 100%;
  max-width: 500px;
  height: 100%;
  margin-right: 0px;
}

.city-info-container {
  text-align: center;
}

.city-info-container h1 {
  font-size: 2.8rem;
  text-align: center;
}

.city-description p {
  line-height: 2;
  margin-bottom: 10px;
}

/* itinerary */
.itinerary-planner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.itinerary-list {
  font-size: 1rem;
  margin: 10px auto 10px auto;
  flex-direction: row;
  text-align: center;
}

.itinerary-attraction {
  display: flex;
  flex-direction: column;
}

.itinerary-map {
    padding-left: 0;
}

/* hero banner */
.hero-banner {
    height: 50vh;
}

.hero-banner__text h1 {
    font-size: 5em;
}

.hero-banner__text p {
    font-size: 2em;
}

/* search bar */
form {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0 40px 0 40px;
}

form input,
form button {
    margin: 0;
    width: 100%;
}

/* country info section */
.country-info {
  padding: 10px !important;
}

.country-info-grid {
  column-gap: 20px !important;
}

/* about page */
.about-section {
  padding: 30px;
}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
  .popular-destinations {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .city-description {
  padding: 20px;
  margin: -16px;
  border-radius: 0;
}

.city-image {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.city-info-container h1 {
  font-size: 2.7rem;
}

.city-info-container a {
  margin-bottom: 20px;
}


.city-description p {
  line-height: 1.8;
  margin-bottom: 10px;
}

.weather-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-large;
  gap: 0px;
  padding: 30px 50px 30px 50px;
}

.weather-content img {
  scale: 1.5;
}

.text-container {
    gap: 20px;
}

.text-container p:first-child {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.temperature {
  font-size: 3.5rem;
}

.extra-info {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  width: 100%;
}

.extra-info p {
    display: block !important;
    text-align: center;
}

.itinerary-list {
  font-size: 1rem;
  margin: 10px auto 10px auto;
  flex-direction: column;
  text-align: center;
}

.itinerary-attraction {
  display: flex;
  flex-direction: row;
}

/* hero banner */
.hero-banner__text h1 {
    font-size: 16vw;
}

.hero-banner__text p {
    hyphens: auto;
    font-size: 1.5rem;
}

/* search bar */
form {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0;
}

/* navbar hamburger menu */
.hamburger-menu {
    display: flex;
}

.nav-menu.full {
    display: none;
}

.nav-menu.mobile {
    display: flex;
}

/* HamburgerMenu.css */
.hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hamburger-button {
  cursor: pointer;
}

.hamburger-button img {
  width: 40px;
  height: 30px;
}

.nav-menu.mobile {
  flex-direction: column;
  top: 100%;
  right: 0;
  margin-right: 0;
}
.nav-item {
  margin: 0.5rem 0;
}

.nav-links {
  color: #fefee3;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links:hover {
  color: #d68c45;
}

.navbar-logo {
    margin-left: 0;
}

.logo {
    display: none;
}

/* country info section */
.country-info {
  padding: 10px;
}

.country-info-grid {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 0;
}
}